# Ambiente lógico: development, benchmark ou production
CNPJ_LOADER_ENVIRONMENT=development

# Execução nativa: 127.0.0.1
# Execução na rede do Docker Compose: mysql
CNPJ_LOADER_MYSQL_HOST=127.0.0.1

# Porta utilizada pela instância MySQL
CNPJ_LOADER_MYSQL_PORT=3306

# Credenciais próprias do loader
CNPJ_LOADER_MYSQL_USER=
CNPJ_LOADER_MYSQL_PASSWORD=

# Formato de duração do Go: 5s, 30s, 1m
CNPJ_LOADER_MYSQL_CONNECT_TIMEOUT=5s

# Schema permanente de controle
CNPJ_LOADER_CONTROL_SCHEMA=cnpj_loader_control
